{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<h1>YOUR CART</h1>
	<div class="row">
		<div class="col-lg-12">
			<div class="box-element-cart">

				<a  class="btn btn-outline-dark" href="{% url 'store' %}" style="font-size: clamp(.5rem, 4vw, 20px);">&#x2190; Continue Shopping</a>

				<br>
				<br>
				<table class="table">
					<tr>
						<th><h5 style="font-size: clamp(.5rem, 4vw, 20px);">Items:{{order.get_cart_items}}</h5></th>
						<th><h5 style="font-size: clamp(.5rem, 4vw, 20px);">Total: ${{order.get_cart_total|floatformat:2}}</h5></th>
						<th>
							<a  style="float:right; margin:5px; font-size: clamp(.5rem, 4vw, 20px);" class="btn btn-success" href="{% url 'checkout' %}">Checkout</a>
						</th>
					</tr>
				</table>

			</div>

			<br>
			<div class="box-element-cart">
				<div class="cart-row">
					<div style="flex:2; font-size: clamp(.1px, 4vw, 1rem);" class="cart-items-text"></div>
					<div style="flex:2; font-size: clamp(.1px, 4vw, 1rem);">Item</div>
					<div style="flex:1; font-size: clamp(.1px, 4vw, 1rem);">Price</div>
					<div style="flex:1; font-size: clamp(.1px, 4vw, 1rem);">Quantity</div>
					<div style="flex:1; font-size: clamp(.1px, 4vw, 1rem);">Total></div>
				</div>
				{% for item in items %}
				<div class="cart-row">
					<div style="flex:2; font-size: clamp(.1px, 4vw, 1rem);"><img class="row-image" src="{{item.product.imageURL}}"></div>
					<div style="flex:2"><p style="font-size: clamp(.1px, 4vw, 1rem);">{{item.product.name}}</p></div>
					<div style="flex:1"><p style="font-size: clamp(.1px, 4vw, 1rem);">${{item.product.price|floatformat:2}}</p></div>
					<div style="flex:1">
						<p class="quantity" style="font-size: clamp(.1px, 4vw, 1rem);">{{item.quantity}}</p>
						<div class="quantity">
							<img data-product="{{item.product.id}}" data-action="add" class="chg-quantity update-cart" src="{% static  'images/arrow-up.png' %}">
					
							<img data-product="{{item.product.id}}" data-action="remove" class="chg-quantity update-cart" src="{% static  'images/arrow-down.png' %}">
						</div>
					</div>
					<div style="flex:1; font-size: clamp(.1px, 4vw, 1rem);"><p>${{item.get_total|floatformat:2}}</p></div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock content %}

