{% extends 'store/main.html' %}
{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/contact.css' %}">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Lobster&family=Titan+One&display=swap" rel="stylesheet">
</head>
<body>
    {% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/contact.css' %}">
    <main class="contact-container">
        <div class="contact-form">
            <h2>Contact Us!</h2>
            <p>
                <strong>Address:</strong>
                <a href="https://www.google.com/maps/search/?api=1&query=2818+P.+Celle,+Pasay,+1302+Metro+Manila" target="_blank" class="invisible-link">
                    123 Cat Street, Feline Avenue, New York, USA
                </a>
            </p>
            <p>
                <strong>Phone:</strong>
                <a class="invisible-link">+63919856458</a>
            </p>
            <p>
                <strong>Email:</strong>
                <a class="invisible-link">cupofcats@cafe.com</a>
            </p>
            <p>
                <strong>Follow Us:</strong>
                <a href="https://facebook.com" target="_blank" class="social-link">Facebook</a> |
                <a href="https://instagram.com" target="_blank" class="social-link">Instagram</a> |
                <a href="https://twitter.com" target="_blank" class="social-link">Twitter</a>
            </p>
            <form id="contactForm" action="{% url 'submit_form' %}" method="post">
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" required>
            
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
            
                <label for="message">Message:</label>
                <textarea id="message" name="message" rows="5" required placeholder="Write your message here..."></textarea> 
            
                <button type="submit">Send Message</button>
                <div class="footer">
                    &copy; 2024 Cafe. All rights reserved.
                </div>
            </form>
        </div>
    </main>

    <script type="text/javascript" src="{% static 'js/contact.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/@emailjs/browser@4/dist/email.min.js"></script>
    <script>
        (function(){
            emailjs.init("RN9R2h21s9c5pnEAN");
        })();
    </script>
    {% endblock content %}
</body>
</html>