{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<html>
	<p style="margin-top: 10px; margin-bottom: 20px; text-align: center; font-size: 70px; color:#5c2123;">✧༺ MERCHANDISE ༻✧</p>
	<div class="row" style="padding-left: 90px; padding-right: 90px; border-radius: 40px;">
		
		{% for merch in merch %}
		<div class="col-lg-4">
			<img class="thumbnail" src="{{merch.imageURL}}">
			<div class="box-element product">
				<h6>{{merch.name}}</h6>
				<hr>

				<div style="display: flex; gap:1em; justify-content: space-between;">
					<div>
						<button data-product="{{merch.id}}" data-action="add" class="btn btn-outline-secondary add-btn update-cart">Add to Cart</button>
						
					</div>
				
					<h4><strong>${{merch.price}}</strong></h4>
				</div>
			</div>
		</div>
		{% empty %}
			<p>No merchandise available.</p>
		{% endfor %}
	</div>
{% endblock content %}
</html>
